<section class="wrapper git index">
  <header>
    <h1>Doing things with Git</h1>
    <p class="context">Use Git incorrectly, and it can ruin your life :(</p>
  </header>

  <ul class="summary">
    <li><a href="<%= git_url("commands") %>">Commands</a></li>
    <li><a href="<%= git_url("committing") %>">Committing changes</a></li>
    <li><a href="<%= git_url("fix-commit") %>">Fixing commits</a></li>
    <li><a href="<%= git_url("reverting") %>">Reverting to an old commit</a></li>
  </ul>
</section>
