<section class="wrapper git">
  <header class="git-index">
    <h1>Doing things with Git</h1>
  </header>

  <ul class="summary">
    <li><a href="<%= git_url("commands") %>">Commands</a></li>
    <li><a href="<%= git_url("committing") %>">Committing changes</a></li>
    <li><a href="<%= git_url("fix-commit") %>">Fixing commits</a></li>
    <li><a href="#">Reverting to an old commit</a></li>
  </ul>
</section>
