<header>
  <h1>Conz's Write Ups</h1>

  <ul>
    <li>
      <a href="ruby/private-vs-protected">Ruby - Private vs. Protected</a>
    </li>

    <li>
      <a href="heroku/node">Heroku deployment - Node.js</a>
    </li>
  </ul>
</header>
