/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body, h1, h2, h3, section, article, aside, pre, p, code, strong, footer, header, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

body {
  font-family: sans-serif;
  font-weight: 300;
}

h1 {
  display: block;
  font-size: 30px;
  font-family: 'Abril Fatface', sans-serif;
  text-align: center;

  @media (min-width: 800px) {
    margin: 0 35px;
    font-size: 40px;
    text-align: left;
  }
}

h2 {
  font-size: 18px;
  font-family: 'Abril Fatface', monospace;
}

header {
  display: block;
  width: 100%;
  position: absolute;
  top: 30%;
  text-align: center;

  h2 {
    font-family: sans-serif;
  }

  ul {
    padding-left: 30px;
  }

  li {
    margin: 10px 0;
  }

  @media (min-width: 800px) {
    width: auto;
    left: 100px;
    text-align: left;

    h1 {
      margin: 0;
    }
  }
}

pre {
  font-family: monospace;
  font-size: 16px;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

section.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 40px auto;
  margin-bottom: 100px;
}

main {
  width: 100%;
}

p {
  margin: 20px 0;
  font-size: 18px;
  line-height: 1.6;
}

code {
  display: inline;
  padding: 3px;
  font-family: monospace;
  font-size: 16px;
  color: #333;
  background: #eee;
  border-radius: 4px;
}

pre.snippet {
  margin: 10px;
  padding: 15px;
  font-size: 14px;
  background: #FAF3DD;
}

strong {
  text-transform: uppercase;
  font-weight: 600;
}